
module my-psql 1.0;

require {
	type user_home_t;
	type container_t;
	class file { ioctl open read };
}

#============= container_t ==============

#!!!! This avc is allowed in the current policy
allow container_t user_home_t:file { open read };
allow container_t user_home_t:file ioctl;
